* {
  box-shadow: none;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  margin: 0;
  /* background-image: url(img/kech\ land.jpg);
  background-size: cover;
  background-position: center; */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #00000066;
  background-size: cover;
  /* background-position: center; */
}
nav {
  display: flex;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}
.hover-link {
  text-decoration: none;
  transition: color 0.3s ease;
}
.hover-link:hover {
  color: #ed0e00;
}
.logo {
  width: 170px;
  height: 170px;
  margin: 5px 0px 0px 400px;
}
.btn {
  background-color: #2f714f;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
}
.buy-btn {
  margin: 50px 0px 0px 50px;
  font-size: 18px;
}
.orders {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buy-img {
  /* display: block; */
  width: 400px;
  height: 400px;
  margin-left: 35px;
}
.order1 {
  width: 475px;
  height: 475px;
  /* border: 1px solid white; */
  margin: 20px 25px;
}
.text {
  margin: 15px 0px 0px 0px;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  color: white;
}
.orders2 {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.orders3 {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.orders4 {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.orders5 {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.orders6 {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
